.userStory-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.scrum-image{
    width: 100%;
    margin-right: 20px;
}
.memo-image{
    width: 40px;
}
.g-4.row.row-cols-lg-3.row-cols-md-2.row-cols-1{
    width: 100%;
}
.add-story-button{
    margin-top: 20px;
}
#add-user-story{
    margin: auto;
}

.top-bar{
    font-size: 60px;
    /*color:  #afcfd0;*/
    color: #272f3f;
    margin: auto;
}
.card-body{
    background: #272f3f;
    color: white;
    border-radius: 3px;
}

.inner-container-user-story{
    width: auto;
    display: flex;
    flex-direction: column;
   border: 2px dashed #ffffff;
    background: white;
    padding: 20px;
    border-radius: 20px;

}

@media only screen and (max-width: 1000px) {
    .whole-page {
        background-color: #afcfd0;
        padding: 20px;
    }

}

@media only screen and (max-width: 800px) {
    .whole-page {
        background-color: #afcfd0;
        padding: 30px;
    }
    .g-4.row.row-cols-lg-3.row-cols-md-2.row-cols-1{
        margin: auto;
    }
    .each-card.card{
        margin: auto;
        width: 450px;
    }
}

@media only screen and (max-width: 700px) {
    .whole-page {
        background-color: #afcfd0;
        padding: 30px;
    }
    .g-4.row.row-cols-lg-3.row-cols-md-2.row-cols-1{
        margin: auto;
    }
    .each-card.card{
        margin: auto;
        width: 400px;
    }
}
@media only screen and (max-width: 700px) {
    .whole-page {
        background-color: #afcfd0;
        padding: 30px;
    }
    .g-4.row.row-cols-lg-3.row-cols-md-2.row-cols-1{
        margin: auto;
    }
    .each-card.card{
        margin: auto;
        width: 300px;
    }
}



@media only screen and (max-width: 400px) {
    .whole-page {
        background-color: #afcfd0;
        padding: 30px;
    }
    .g-4.row.row-cols-lg-3.row-cols-md-2.row-cols-1{
        margin: auto;
    }
    .each-card.card{
        margin: auto;
        width: 250px;
    }

}